<div class="media-player">
    <div class="media-player--wrapper "> <!--parte de la izquierda, donde se mostraran los datos del track en pequeño-->
        <!--Zona del artista -->
        <div class="artist player-center">
            <ng-container *ngTemplateOutlet="artistZone"></ng-container>
        </div>
        <!--Zona del reproductor-->
        <div class="player-controls player-center">
            <ng-container *ngTemplateOutlet="playerZone"></ng-container>
        </div>
        <!--Zona del controles adicionales-->
        <div class="player-audio player-center">
            <ng-container *ngTemplateOutlet="playerAudio"></ng-container>
        </div>
    </div>
</div>

<!-- ZONE TEMPLATES -->
<!-- Los templates se pueden declarar antes de inicializar, ya que haran referencia a esta parte gracias al ng-container
haciendo asi que sea mas facil de leer el html-->

<ng-template #artistZone>
    <div class="artist-inside" *ngIf="multimediaService.trackInfo$ | async as mockCover"> <!--as para el alias que le pondremos al atributo del servicio-->

        <img [src]="mockCover.cover" alt="" class="cover"> <!--aqui se llama y se muestra el .cover del track y mas abajo el nombre y el album-->
        <div class="track-info">
            <h3 class="track-title">{{mockCover.name}}</h3>
            <h5 class="track-title sub-title">{{mockCover?.album}}</h5>
        </div>
        <div class="track-like">
            <button (click)="multimediaService.botonFavorito()" class="btn-like"> <!--boton para mandar track a la biblioteca de favoritos-->
                <i class="uil uil-heart"></i>
            </button>
            <button (click)="multimediaService.botonDeleteFavorito()" class="btn-like"> <!--boton para mandar track a la biblioteca de favoritos-->
              <i class="uil uil-heart-break"></i>
          </button>
        </div>
    </div>
</ng-template>

<ng-template #playerZone>
    <div class="player-controls-inside">
        <div class="buttons-media">
            <button class="arrow btn">
                <i class="uil uil-previous"></i>
            </button>
            <button (click)="multimediaService.togglePlayer()" class="play btn"><!--ngclass como condicion de si el estado es pausado o play, que cambie al hacer click-->

                <i [ngClass]="{
                    'uil-play-circle':state === 'paused',
                    'uil-pause-circle':state !== 'paused'
                }" class="uil "></i>

            </button>
            <button class="arrow btn">
                <i class="uil uil-step-forward"></i>
            </button>
        </div>
        <div class="media-linetime">

            <div class="time">{{multimediaService.timeElapsed$ | async}}</div>
            <span #progressBar (click)="handlePosition($event)" class="time-progress">
                <span class="time-progress-live" [style.width]="(multimediaService.playerPercentage$ | async)+'%'">
                                    <!--se puede modificar el estilo de manera porcentual, en este caso el ancho de la barra-->
                </span>
            </span>
            <div class="time">{{multimediaService.timeRemaining$ | async}}</div><!--cuenta atras de los segundos y minutis-->
        </div>
    </div>
</ng-template>

<ng-template #playerAudio>
    <div class="player-audio-inside">
        <button class="btn-media">
            <i class="uil uil-list-ui-alt"></i>
        </button>
        <button class="btn-media">
            <i class="uil uil-boombox"></i>
        </button>
        <button class="btn-media">
            <i class="uil uil-volume-off"></i>
        </button>
    </div>
</ng-template>


